.review-banner {
   display: flex;
  justify-content: center;  /* center horizontally */
  align-items: center;      /* center vertically */
  height: 300px;            /* set a height */
  /* border: 1px solid #ccc;   */
}


.review-banner a img {
  display: block;
  margin: 0 auto;
}
